In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('results.csv')

In [6]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43183,2/1/2022,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False
43184,2/2/2022,Burkina Faso,Senegal,1,3,African Cup of Nations,Yaoundé,Cameroon,True
43185,2/3/2022,Cameroon,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,False
43186,2/5/2022,Cameroon,Burkina Faso,3,3,African Cup of Nations,Yaoundé,Cameroon,False
43187,2/6/2022,Senegal,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,True

In [7]:
df.shape

(43188, 9)

In [8]:
x=df['home_score']-df['away_score']

In [9]:
x

0        0
1        2
2        1
3        0
4        3
        ..
43183    1
43184   -2
43185    0
43186    0
43187    0
Length: 43188, dtype: int64

In [11]:
conditions=[(x>0),(x<0),(x==0)]

In [12]:
values=['win','lose','draw']

In [15]:
import numpy as np

In [17]:
df['result']=np.select(conditions,values)

In [18]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,draw
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,win
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,win
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,draw
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,win
...,...,...,...,...,...,...,...,...,...,...
43183,2/1/2022,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False,win
43184,2/2/2022,Burkina Faso,Senegal,1,3,African Cup of Nations,Yaoundé,Cameroon,True,lose
43185,2/3/2022,Cameroon,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,False,draw
43186,2/5/2022,Cameroon,Burkina Faso,3,3,African Cup of Nations,Yaoundé,Cameroon,False,draw
43187,2/6/2022,Senegal,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,True,draw

In [19]:
df['result'].value_counts()

win     21009
lose    12224
draw     9955
Name: result, dtype: int64

In [21]:
df['result'].value_counts(normalize=True)

win     0.486455
lose    0.283042
draw    0.230504
Name: result, dtype: float64

In [23]:
df_noneutral=df[df['neutral']==False]

In [24]:
df_noneutral.shape

(32481, 10)

In [25]:
df_noneutral['result'].value_counts(normalize=True)

win     0.505003
lose    0.263693
draw    0.231304
Name: result, dtype: float64

In [26]:
df_noneutralegy=df_noneutral[df_noneutral['country']=='Egypt']

In [27]:
df_noneutralegy

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
1463,2/19/1932,Egypt,Hungary,0,0,Friendly,Cairo,Egypt,False,draw
1661,3/16/1934,Egypt,Israel,7,1,FIFA World Cup qualification,Cairo,Egypt,False,win
1895,6/19/1936,Egypt,Greece,3,1,Friendly,Cairo,Egypt,False,win
2927,12/24/1948,Egypt,Norway,1,1,Friendly,Cairo,Egypt,False,draw
3080,2/17/1950,Egypt,Greece,2,0,Friendly,Cairo,Egypt,False,win
...,...,...,...,...,...,...,...,...,...,...
42165,3/29/2021,Egypt,Comoros,4,0,African Cup of Nations qualification,Cairo,Egypt,False,win
42590,9/1/2021,Egypt,Angola,1,0,FIFA World Cup qualification,Cairo,Egypt,False,win
42758,9/30/2021,Egypt,Liberia,2,0,Friendly,Alexandria,Egypt,False,win
42812,10/8/2021,Egypt,Libya,1,0,FIFA World Cup qualification,Alexandria,Egypt,False,win
43040,11/16/2021,Egypt,Gabon,2,1,FIFA World Cup qualification,Alexandria,Egypt,False,win

In [28]:
df_noneutralegy['home_team'].value_counts()

Egypt    258
Name: home_team, dtype: int64

In [29]:
df_noneutralegy['away_team'].value_counts()

Uganda         12
Tunisia        11
Ghana          10
Libya           9
Cameroon        8
               ..
England         1
Switzerland     1
Chile           1
Israel          1
Comoros         1
Name: away_team, Length: 82, dtype: int64

In [30]:
df_noneutralegy.shape

(258, 10)

In [31]:
df_noneutralegy['result'].value_counts()

win     171
draw     44
lose     43
Name: result, dtype: int64

In [32]:
df_noneutralegy['result'].value_counts(normalize=True)

win     0.662791
draw    0.170543
lose    0.166667
Name: result, dtype: float64

In [33]:
0.662791/0.166667

3.976738046523907

In [34]:
df_noneutralegy['tournament'].value_counts()

Friendly                                145
FIFA World Cup qualification             48
African Cup of Nations qualification     39
African Cup of Nations                   20
Nile Basin Tournament                     5
African Nations Championship              1
Name: tournament, dtype: int64

In [35]:
df_noneutralegy_nonf=df_noneutralegy[df_noneutralegy['tournament']!='Friendly']

In [37]:
df_noneutralegy_nonf['result'].value_counts(normalize=True)

win     0.805310
draw    0.123894
lose    0.070796
Name: result, dtype: float64

In [38]:
import statsmodels.api as sm
from statsmodels.stats.proportion import proportion_confint

In [39]:
df_noneutralegy['result'].value_counts()

win     171
draw     44
lose     43
Name: result, dtype: int64

In [40]:
x=df_noneutralegy['result'].value_counts()

In [41]:
x[0]

171

In [42]:
ci_win_egy=proportion_confint(count=x[0],nobs=x.sum(),alpha=(1-.95))

In [43]:
ci_win_egy

(0.6051039288730269, 0.7204774664758102)

In [44]:
df_noneutralbra=df_noneutral[df_noneutral['country']=='Brazil']

In [45]:
df_noneutralbra

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
503,5/11/1919,Brazil,Chile,6,0,Copa América,Rio de Janeiro,Brazil,False,win
508,5/18/1919,Brazil,Argentina,3,1,Copa América,Rio de Janeiro,Brazil,False,win
512,5/26/1919,Brazil,Uruguay,2,2,Copa América,Rio de Janeiro,Brazil,False,draw
513,5/29/1919,Brazil,Uruguay,1,0,Copa América,Rio de Janeiro,Brazil,False,win
515,6/1/1919,Brazil,Argentina,3,3,Friendly,Rio de Janeiro,Brazil,False,draw
...,...,...,...,...,...,...,...,...,...,...
42513,7/5/2021,Brazil,Peru,1,0,Copa América,Rio de Janeiro,Brazil,False,win
42529,7/10/2021,Brazil,Argentina,0,1,Copa América,Rio de Janeiro,Brazil,False,lose
42756,9/9/2021,Brazil,Peru,2,0,FIFA World Cup qualification,Recife,Brazil,False,win
42916,10/14/2021,Brazil,Uruguay,4,1,FIFA World Cup qualification,Manaus,Brazil,False,win
42956,11/11/2021,Brazil,Colombia,1,0,FIFA World Cup qualification,São Paulo,Brazil,False,win

In [46]:
df_noneutralbra['home_team'].value_counts()

Brazil       353
Argentina      1
Name: home_team, dtype: int64

In [47]:
df_noneutralbra[df_noneutralbra['home_team']=='Argentina']

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
42508,7/3/2021,Argentina,Ecuador,3,0,Copa América,Goiânia,Brazil,False,win

In [48]:
df_noneutralbra

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result
503,5/11/1919,Brazil,Chile,6,0,Copa América,Rio de Janeiro,Brazil,False,win
508,5/18/1919,Brazil,Argentina,3,1,Copa América,Rio de Janeiro,Brazil,False,win
512,5/26/1919,Brazil,Uruguay,2,2,Copa América,Rio de Janeiro,Brazil,False,draw
513,5/29/1919,Brazil,Uruguay,1,0,Copa América,Rio de Janeiro,Brazil,False,win
515,6/1/1919,Brazil,Argentina,3,3,Friendly,Rio de Janeiro,Brazil,False,draw
...,...,...,...,...,...,...,...,...,...,...
42513,7/5/2021,Brazil,Peru,1,0,Copa América,Rio de Janeiro,Brazil,False,win
42529,7/10/2021,Brazil,Argentina,0,1,Copa América,Rio de Janeiro,Brazil,False,lose
42756,9/9/2021,Brazil,Peru,2,0,FIFA World Cup qualification,Recife,Brazil,False,win
42916,10/14/2021,Brazil,Uruguay,4,1,FIFA World Cup qualification,Manaus,Brazil,False,win
42956,11/11/2021,Brazil,Colombia,1,0,FIFA World Cup qualification,São Paulo,Brazil,False,win

In [49]:
df_noneutralbra=df_noneutralbra[df_noneutralbra['home_team']!='Argentina']

In [50]:
df_noneutralbra['home_team'].value_counts()

Brazil    353
Name: home_team, dtype: int64

In [51]:
df_noneutralbra['away_team'].value_counts()

Argentina                 41
Paraguay                  38
Uruguay                   33
Chile                     29
Peru                      21
Colombia                  14
Venezuela                 13
Bolivia                   13
Ecuador                   12
Portugal                  10
Czechoslovakia            10
Mexico                    10
Yugoslavia                10
Bulgaria                   7
Germany                    7
England                    6
Poland                     6
Wales                      5
Serbia                     4
Russia                     4
Netherlands                4
German DR                  3
Honduras                   3
Austria                    3
France                     3
Spain                      3
Switzerland                3
Japan                      2
Cameroon                   2
Panama                     2
United States              2
Iceland                    2
Finland                    2
Republic of Ireland        2
Romania                    2
Scotland                   2
Italy                      2
China PR                   1
Morocco                    1
South Africa               1
Australia                  1
Croatia                    1
Guatemala                  1
Latvia                     1
Hungary                    1
Slovakia                   1
Bosnia and Herzegovina     1
Lithuania                  1
Ghana                      1
Belgium                    1
Costa Rica                 1
Sweden                     1
Greece                     1
Haiti                      1
Qatar                      1
Name: away_team, dtype: int64

In [52]:
df_noneutralbra['result'].value_counts()

win     259
draw     71
lose     23
Name: result, dtype: int64

In [53]:
df_noneutralbra['result'].value_counts(normalize=True)

win     0.733711
draw    0.201133
lose    0.065156
Name: result, dtype: float64

In [54]:
 0.733711/0.065156

11.2608355331819