# Solution Practice Sheet 3

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('results.csv')

In [3]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43183,2/1/2022,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False
43184,2/2/2022,Burkina Faso,Senegal,1,3,African Cup of Nations,Yaoundé,Cameroon,True
43185,2/3/2022,Cameroon,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,False
43186,2/5/2022,Cameroon,Burkina Faso,3,3,African Cup of Nations,Yaoundé,Cameroon,False
43187,2/6/2022,Senegal,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,True

In [4]:
x=df['home_score']-df['away_score']

In [5]:
x[0:3]

0    0
1    2
2    1
dtype: int64

In [6]:
conditions=[(x<0),(x>0),(x==0)]

In [7]:
values=['lose','win','draw']

In [8]:
import numpy as np

In [9]:
df['result_home']=np.select(conditions,values)

In [10]:
df['result_home'][0:3]

0    draw
1     win
2     win
Name: result_home, dtype: object

In [11]:
df['result_home'].value_counts()

win     21009
lose    12224
draw     9955
Name: result_home, dtype: int64

In [12]:
df['result_home'].value_counts(normalize=True)

win     0.486455
lose    0.283042
draw    0.230504
Name: result_home, dtype: float64

In [13]:
x=df['result_home'].value_counts()

In [14]:
x=np.array(x)

In [15]:
x

array([21009, 12224,  9955], dtype=int64)

In [16]:
x.sum()

43188

In [17]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result_home
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,draw
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,win
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,win
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,draw
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,win

In [18]:
df_noneutral=df[df['neutral']==False]

In [21]:
df_noneutral.shape

(32481, 10)

In [22]:
x=df_noneutral['result_home'].value_counts()

In [23]:
x

win     16403
lose     8565
draw     7513
Name: result_home, dtype: int64

In [24]:
df_noneutral['result_home'].value_counts(normalize=True)

win     0.505003
lose    0.263693
draw    0.231304
Name: result_home, dtype: float64

In [25]:
df_noneutralegy=df_noneutral[df_noneutral['country']=='Egypt']

In [26]:
df_noneutralegy

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,result_home
1463,2/19/1932,Egypt,Hungary,0,0,Friendly,Cairo,Egypt,False,draw
1661,3/16/1934,Egypt,Israel,7,1,FIFA World Cup qualification,Cairo,Egypt,False,win
1895,6/19/1936,Egypt,Greece,3,1,Friendly,Cairo,Egypt,False,win
2927,12/24/1948,Egypt,Norway,1,1,Friendly,Cairo,Egypt,False,draw
3080,2/17/1950,Egypt,Greece,2,0,Friendly,Cairo,Egypt,False,win
...,...,...,...,...,...,...,...,...,...,...
42165,3/29/2021,Egypt,Comoros,4,0,African Cup of Nations qualification,Cairo,Egypt,False,win
42590,9/1/2021,Egypt,Angola,1,0,FIFA World Cup qualification,Cairo,Egypt,False,win
42758,9/30/2021,Egypt,Liberia,2,0,Friendly,Alexandria,Egypt,False,win
42812,10/8/2021,Egypt,Libya,1,0,FIFA World Cup qualification,Alexandria,Egypt,False,win
43040,11/16/2021,Egypt,Gabon,2,1,FIFA World Cup qualification,Alexandria,Egypt,False,win

In [27]:
df_noneutralegy['result_home'].value_counts(normalize=True)

win     0.662791
draw    0.170543
lose    0.166667
Name: result_home, dtype: float64

In [28]:
0.662791/0.166667

3.976738046523907

In [29]:
import statsmodels.api as sm
from statsmodels.stats.proportion import proportion_confint

In [34]:
x=df_noneutralegy['result_home'].value_counts()
x=np.array(x)
x

array([171,  44,  43], dtype=int64)

In [35]:
N=x.sum()
N

258

In [36]:
CI_egy=proportion_confint(count=x[0],nobs=N,alpha=(1-.95))
CI_egy

(0.6051039288730269, 0.7204774664758102)

In [37]:
df_noneutralgre=df_noneutral[df_noneutral['country']=='Greece']

In [38]:
df_noneutralgre.shape

(270, 10)

In [39]:
df_noneutralgre['result_home'].value_counts(normalize=True)

win     0.474074
lose    0.300000
draw    0.225926
Name: result_home, dtype: float64